body {
 background-color: rgba(125, 147, 81, 0.822);
 font-family: Arial, sans-serif;
 max-width: 1200px;
 margin: auto;
 padding: 20px;
 display: grid;
 place-items: center;
}

.input-container {
 margin: 35px;
 border: 5px solid #e5c1c1;
 width: 580px;
}

input{
 margin: 5px;
 padding: 5px;
 height: 30px;
 width: 130px;
 background-color: rgba(200, 159, 165, 0.648);
}
   
button2 {
 margin: 5px;
 padding: 5px;
 height: 30px;
 width: 130px;
 color: rgb(182, 84, 99);
 border: 5px solid #e5c1c1;
}

.cardList {
 display: flex;
 flex-wrap: wrap;
 gap: 60px;
 li::marker {
    content: '❤';
    font-size: 1.2em;
    color:  #f6cfcf;
  }
}

.cardItem {
 color: rgb(182, 84, 99);
 border: 5px solid #e5c1c1;
 padding: 10px;
 width: 230px;
 position: relative;
}

.card_button_delete {
 font-size: 16px;
 position: absolute;
 top: 5px;
 color: rgb(228, 40, 40);
 background-color: rgb(91, 27, 27);
}

.card_title {
 font-size: 1.5em;
}

.card_text {
 font-size: 20px;
 text-align: center;
}

.card_text2 {
 font: 1em sans-serif;
}

.card_button_like {
 font-size: 16px;
 position: absolute;
 top: 5px;
 color: rgb(76, 196, 76);
 background-color: green;
}

.cardItem.liked {
  background-color: #ffe6e6;
 text-decoration: underline;
}

.card_button_delete, .card_button_like {
 cursor: pointer;
 font-size: 16px;
 position: absolute;
 top: 5px;
}

.card_button_like {
 right: 10px;
}

.card_button_delete::after {
 content: '(T_T)' ;
}

.card_button_like::after {
 content: '(★o★)';
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.card_button_edit {
  position: absolute;
  right: 70px;
  top: 5px;
  cursor: pointer;
}